@import url('https://fonts.googleapis.com/css?family=Playfair+Display:500|Raleway&display=swap');


/*                    IMPORTS                         */
#header {
  margin-top: 30px;
}

.row {
  position: relative;
}

li {
  display: inline-block;
  font-family: 'Raleway';
}

a {
  color: white;
}

.btn {
  background-color: black;
}

h1 { 
  font-family: 'Playfair Display', sans-serif;
  font-weight: 200;
  font-size: 32px;
  margin-bottom: 40px;
  color: black;
}

ul {
  margin-top: 22px;
}

.fas {
  margin-top: 15px;
  color: black;
}

.logo {
  margin-left: 50px;
}
/*                 END OF NAVIGATION                    */
.about-us {
  background-image: url(../img/desk.jpeg);
  background-position: center;
  background-attachment: fixed;
  height: 700px;
}

.our-goal {
  margin-top: 200px;
  height: 300px;
  position: relative;
}

.our-goal::before {
  position: absolute;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px);
}

.goal-para {
  position: absolute;
}