@import url('https://fonts.googleapis.com/css?family=Playfair+Display:500|Raleway&display=swap');


/*                    IMPORTS                         */
#header {
  margin-top: 30px;
}

.row {
  position: relative;
}

li, p {
  display: inline-block;
  font-family: 'Raleway';
}

a {
  color: white;
}

.btn {
  background-color: black;
}

h1 { 
  font-family: 'Playfair Display', sans-serif;
  font-weight: 200;
  font-size: 32px;
  margin-bottom: 40px;
  color: black;
}

ul {
  margin-top: 22px;
}

.fas {
  margin-top: 15px;
  color: black;
}

.logo {
  margin-left: 50px;
}

.rotate {
  animation: rotation infinite 4s both;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(50deg);
  }
  from {
    transform: rotate(50deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/*                 END OF NAVIGATION                    */

.about-us {
  background-image: url(../img/desk.jpeg);
  background-position: center;
  background-attachment: fixed;
  height: 700px;
}

.our-goal {
  margin-top: 240px;
  height: 300px;
  position: relative;
}

.goal-para {
  font-size: 18px;
  background-color: white;
  height: 180px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 40px;
}

/*            END OF OUR GOALS           */

.texture {
  background-image: url(../img/texture1.jpeg);
  background-attachment: fixed;
  background-size: contain;
  height: 470px;
}