@import url('https://fonts.googleapis.com/css?family=Playfair+Display:500|Raleway&display=swap');


/*                    IMPORTS                         */
#header {
  background-color: lightyellow;
}

.row {
  position: relative;
  border-bottom: black solid 1px;
}

li, p {
  display: inline-block;
  font-family: 'Raleway';
}

a, #contact .btn {
  color: white;
}

.btn {
  background-color: black;
}

h1 { 
  font-family: 'Playfair Display', sans-serif;
  font-weight: 200;
  font-size: 32px;
  margin-bottom: 40px;
}

h1, .fas {
  color: black;
}

ul {
  margin-top: 22px;
}

.fas {
  margin-top: 15px;
}

.logo {
  margin-left: 50px;
}

.rotate {
  animation: rotation infinite 4s both;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(50deg);
  }
  from {
    transform: rotate(50deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/*                 END OF NAVIGATION                    */

.about-us {
  background-image: url(../img/desk.jpeg);
  background-position: center;
  background-attachment: fixed;
  height: 700px;
}

/*                  END OF MAIN                        */

.our-goal {
  margin-top: 240px;
  height: 300px;
  position: relative;
}

.goal-para {
  font-size: 18px;
  background-color: lightyellow;
  height: 180px;
  padding-top: 40px;
  padding-right: 20px; 
  padding-left: 40px;
  text-shadow: gray 1px 1px;
}

#goals {
  background-color: lightyellow;
}

/*            END OF OUR GOALS           */
#examples {
  height: 500px;
}

#examples .carousel {
  margin-top: 85px;
}

.exam-para {
  margin-top: 120px;
}

/*            END OF EXAMPLES              */

#contact {
  background-color: lightyellow;
}
#contact .row {
  border-bottom: none;
}

#contact .btn {
  background-color: black;
}